.env
.dlt/secrets.toml
__pycache__/
*.pyc
*.pyo
.dagster/
/storage/
/logs/
*.egg-info/
dist/

# Ignore the local virtual environment directory created by uv
.venv/

# Do NOT ignore the lockfile
!uv.lock

.idea
**/.DS_Store
*.swp
.tmp*/
archives/
docs/
